<HTML>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/aboutMe.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Calistoga' rel='stylesheet'></link>
    <link href='https://fonts.googleapis.com/css?family=Cardo' rel='stylesheet'></link>
    <div class="about-me-background-rectangle"></div>
    <div class="about-the-team-text">about the team</div>
    <div class="our-impact-text">If you’ve ever found investing to be complicated and a little scary, you’re not alone! We made Dr. Stox here to help you learn more about the basics of investing in different securities in an accessible and easy-to-comprehend way. This simulation simplifies what investing looks like to help people understand the basic structure of what the process looks like.</div>
    <img class="lucy" src="{{ url_for('static',filename='images/lucy.jpg') }}"/>
    <div class="lucy-text">lucy</div>
    <img class="katinka" src="{{ url_for('static',filename='images/katinka.png') }}"/>
    <div class="katinka-text">katinka</div>
    <img class="audrey" src="{{ url_for('static',filename='images/audrey.png') }}"/>
    <div class="audrey-text">audrey</div>
    <img class="shrishti" src="{{ url_for('static',filename='images/shrishti.jpg') }}"/>
    <div class="shrishti-text">shrishti</div>
    <div class="speech-bubble"></div>
    <div class="doctor-text">hi, I'm Dr. Stox!</div>
    <img class="about-me-girl" src="{{ url_for('static',filename='images/DALL_E_2024-03-02_16.30.png') }}"/>
</HTML>