<HTML>
    <table>
        <tr>
            <th>Stock Name</th>
            <th>Industry</th>
            <th>Stock Price</th>
        </tr>
        {% for stock_name, stock_info in stock_data.items() %}
        <tr>
            <td>{{ stock_name }}</td>
            <td>{{ stock_info[0] }}</td>
            <td>${{ stock_info[1] }}</td>
            <td>
                <form action="/exchange" method="get">
                    <input type="hidden" name="stock_name" value="{{ stock_name }}">
                    <input type="hidden" name="stock_info[1]" value="{{ stock_info[1] }}">
                    <button type="submit">Buy</button>
                </form>

            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="/portfolio" method="get">
        <button type="portfolio">Im done!</button>
    </form>

</HTML>