<HTML>
    <table>
        <tr>
            <th>Stock Name</th>
            <th>Industry</th>
            <th>Stock Price</th>
        </tr>
        <tr>
            <td>Example Stock 1</td>
            <td>Technology</td>
            <td>$100</td>
        </tr>
        <tr>
            <td>Example Stock 2</td>
            <td>Healthcare</td>
            <td>$150</td>
        </tr>
        <tr>
            <td>Example Stock 3</td>
            <td>Energy</td>
            <td>$120</td>
        </tr>
        <!-- More rows can be added here -->
    </table>

    <form action="/portfolio" method="get">
        <button type="portfolio">Im done!</button>
    </form>
</HTML>