<!DOCTYPE html>
<html>
<script type="text/javascript">
    function subtract() {
        var total = parseInt("{{ session['total_time'] }}", 10); // Parse as integer
        var curr = parseInt("{{ session['curr_day'] }}", 10); // Parse as integer
        return (total - curr) / 365;
    }

    window.onload = function() {
        // Update the content of the paragraph with id 'daysLeft'
        document.getElementById('yearsLeft').textContent = 'YEARS LEFT : ' + subtract();
    };
</script>
<body>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/days.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Calistoga' rel='stylesheet'></link>
    <link href='https://fonts.googleapis.com/css?family=Cardo' rel='stylesheet'></link>

    <div class="days-background-rectangle"></div>
    <div class="speech-bubble"></div>
    <div class="speech-bubble-text">how long would you like to wait before checking back in to your stocks?</div>

    <form action="/portfolio" method="get">
        <label class="year-text" for="years">Years:</label>
        <input class="year-input" type="number" id="years" name="years" min="0" required><br><br>

        <label class="month-text" for="months">Months:</label>
        <input class="month-input" type="number" id="months" name="months" min="0" max="11" required><br><br>

        <input class="submit-button" type="submit" value="Submit">
    </form>

    <p id="yearsLeft">YEARS LEFT : </p> <!-- Added an id to this paragraph -->
    
    <img class="days-girl" src="{{ url_for('static',filename='images/DALL_E_2024-03-02_16.30.png') }}"/>
    <form action="/" method="get">
        <button>
            <img class="days-logo" src="{{ url_for('static',filename='images/athenahackslogo2.png') }}"/>
        </button>
    </form>
</body>
</html>

