<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        function calculate() {
            var price = parseFloat(document.getElementById('price').textContent);
            var shares = parseFloat(document.getElementById('shares').value);
            var amount = shares * price; // Calculate total amount
            if (!isNaN(amount)) { // Check if amount is a number
                document.getElementById('amount').textContent = 'Amount invested: ' + amount.toFixed(2); // Update text with calculated amount
            }
        }

        function submitForm() {
            // Get the number value from your JavaScript function
            var shares = parseFloat(document.getElementById('shares').value);
            
            // Set the value of the hidden input field
            document.getElementById('num_shares').value = shares;
            
            // Submit the form
            document.getElementById('update_form').submit();
        }

        function goBack() {
            window.history.back();
        }

        function getShares() {
            return parseFloat(document.getElementById('shares').value);
        }
    </script>
</head>
<body>
    <p>{{ stock_name }}</p>
    <p id="price">{{ price }}</p> <!-- Price of one share -->
    <input type="number" id="shares" oninput="calculate()" min="0"/> <!-- Input for number of shares -->
    <p id="amount">Amount invested:</p> <!-- Display total amount -->
    <form id="update_form" action="/buy-update" method="get">
        <input type="hidden" name="stock_name" value="{{ stock_name }}">
        <input type="hidden" name="price" value="{{ price }}">
        <input type="hidden" id="num_shares" name="num_shares">
        <button class="buy-button" onclick="submitForm()">Buy</button>
    </form>
    <button class="cancel-button" onclick="goBack()">Cancel</button>
</body>
</html>

