<HTML>
    <h1>Try Me</h1>
    <form action="/submit_time" method="post">
        <p>Choose one of the following numbers:</p>
        <input type="radio" id="num1" name="number" value="1"/>
        <label for="num1">1</label>
        <input type="radio" id="num10" name="number" value="10"/>
        <label for="num10">10</label>
        <input type="radio" id="num30" name="number" value="30"/>
        <label for="num30">30</label>
        <input type="submit" value="Submit"/>
    </form>
</HTML>

